section.section#features
    div(style='height: 100%;padding: 20px;background: rgba(255, 255, 255, 0.58);')

        .container
            h2.section-title.text-center #{__('LANDING.WHO.TITLE')}
            .item
                .row
                    .col-md-4.text-center.wow.fadeInLeft.animated(style='visibility: visible; animation-name: fadeInLeft;')
                        img.img-responsive.img-circle(src='https://d30y9cdsu7xlg0.cloudfront.net/png/35778-200.png')
                        h2 #{__('LANDING.WHO_1.TITLE')}
                        p
                            | #{__('LANDING.WHO_1.DESC')}
                    .col-md-4.text-center.wow.fadeInLeft.animated
                        img.img-responsive.img-circle(src='https://image.flaticon.com/icons/png/512/43/43606.png')
                        h2 #{__('LANDING.WHO_2.TITLE')}
                        p
                            | #{__('LANDING.WHO_2.DESC')}
                    .col-md-4.text-center.wow.fadeInRight.animated(style='visibility: visible; animation-name: fadeInRight;')
                        img.img-responsive.img-circle(src='https://d30y9cdsu7xlg0.cloudfront.net/png/228920-200.png')
                        h2 #{__('LANDING.WHO_3.TITLE')}
                        p
                            | #{__('LANDING.WHO_3.DESC')}