section.bg-gradient(style='color:forestgreen')
    .pak-paket-uzun.container
        .pak-paket-uzun-ic.container
            .row.paket-uzun
                .row
                    .col-md-3.pad0.text-center.bg-white
                        .paket-adi.paket-1
                            img(src='http://www.freeiconspng.com/uploads/blue-free-png-5.png' width='130px')
                            h3 #{__('LANDING.PRICING_1.TITLE')}
                            span.mini-aciklama #{__('LANDING.PRICING.FOR')}
                        ul.nav.paket-detay
                            li.first.first-success.paket-1-baslik
                                | #{__('LANDING.PRICING_1.FOR')}
                            li
                                h3
                                    i.fa.fa-check.text-success
                                    strong #{__('LANDING.PRICING_1.FEAT_1')}
                                p #{__('LANDING.PRICING_1.FEAT_1_DESC')}
                            li
                                h3
                                    i.fa.fa-check.text-success
                                    strong #{__('LANDING.PRICING_1.FEAT_2')}
                                p #{__('LANDING.PRICING_1.FEAT_2_DESC')}
                            li
                                h3
                                    i.fa.fa-check
                                    strong #{__('LANDING.PRICING_1.FEAT_3')}
                                p #{__('LANDING.PRICING_1.FEAT_3_DESC')}
                            li
                                h3
                                    i.fa.fa-check.text-danger
                                    strong #{__('LANDING.PRICING_1.FEAT_4')}
                                p #{__('LANDING.PRICING_1.FEAT_4_DESC')}
                            li
                                h3.text-muted
                                    i.fa.fa-check.text-danger
                                    strong
                                        span.text-danger #{__('LANDING.PRICING_1.NO.FEAT_1')}
                            li
                                h3.text-muted
                                    i.fa.fa-check.text-danger
                                    strong
                                        span.text-danger #{__('LANDING.PRICING_1.NO.FEAT_2')}
                        .buttons
                            a.btn.btn-primary.btn-lg(href='//forums.interpretame.com/register') #{__('LANDING.PRICING.GO')}

                    .col-md-3.pad0.text-center.bg-white.golge
                        .paket-adi.paket-danger.paket-3
                            img(src='http://www.imgim.com/unlimited.png')
                            h3 #{__('LANDING.PRICING_2.TITLE')}
                            span.mini-aciklama #{__('LANDING.PRICING.FOR')}
                        ul.nav.paket-deta
                            li.first.first-danger.paket-3-baslik
                                | #{__('LANDING.PRICING_2.FOR_1')}
                                br
                                | #{__('LANDING.PRICING_2.FOR_2')}
                            li
                                h3
                                    i.fa.fa-check
                                    strong #{__('LANDING.PRICING_2.FEAT_1')}
                                p #{__('LANDING.PRICING_2.FEAT_1_DESC')}
                            li
                                h3
                                    i.fa.fa-check
                                    strong #{__('LANDING.PRICING_2.FEAT_2')}
                                p #{__('LANDING.PRICING_2.FEAT_2_DESC')}
                            li
                                h3
                                    i.fa.fa-check
                                    strong #{__('LANDING.PRICING_2.FEAT_3')}
                                p #{__('LANDING.PRICING_2.FEAT_3_DESC')}
                            li
                                h3
                                    i.fa.fa-check
                                    strong #{__('LANDING.PRICING_2.FEAT_4')}
                                p #{__('LANDING.PRICING_2.FEAT_4_DESC')}
                            li
                                h3
                                    i.fa.fa-check
                                    strong #{__('LANDING.PRICING_2.FEAT_5')}
                                p #{__('LANDING.PRICING_2.FEAT_5_DESC')}
                        .buttons
                            a.btn.btn-warning.btn-lg(href='#') #{__('LANDING.PRICING.GO')}
                    .col-md-3.pad0.text-center.bg-white
                        .paket-adi.paket-2
                            img(src='http://www.imgim.com/business.png')
                            h3 #{__('LANDING.PRICING_3.TITLE')}
                            span.mini-aciklama #{__('LANDING.PRICING.FOR')}
                        ul.nav.paket-detay
                            li.first.first-primary.paket-2-baslik
                                | #{__('LANDING.PRICING_3.FOR')}
                            li
                                h3
                                    i.fa.fa-check.text-parimary
                                    strong #{__('LANDING.PRICING_3.FEAT_1')}
                                p #{__('LANDING.PRICING_3.FEAT_1_DESC')}
                            li
                                h3
                                    i.fa.fa-check.text-parimary
                                    strong #{__('LANDING.PRICING_3.FEAT_2')}
                                p #{__('LANDING.PRICING_3.FEAT_2_DESC')}
                            li
                                h3
                                    i.fa.fa-check
                                    strong #{__('LANDING.PRICING_3.FEAT_3')}
                                p #{__('LANDING.PRICING_3.FEAT_3_DESC')}
                        .buttons
                            a.btn.btn-primary.btn-lg(href='mailto:interpretame.contact@gmail.com') #{__('LANDING.PRICING.GO')}

                    .col-md-3.pad0.text-center.bg-white
                        .paket-adi.paket-4
                            img(src='http://www.imgim.com/professional.png')
                            h3 #{__('LANDING.PRICING_4.TITLE')}
                            span.mini-aciklama #{__('LANDING.PRICING.FOR')}
                        ul.nav.paket-detay
                            li.first.first-warning.paket-4-baslik
                                | #{__('LANDING.PRICING_4.FOR')}
                            li
                                h3
                                    i.fa.fa-check.text-warning
                                    strong #{__('LANDING.PRICING_4.FEAT_1')}
                                p #{__('LANDING.PRICING_4.FEAT_1_DESC')}
                            li
                                h3
                                    i.fa.fa-check.text-warning
                                    strong #{__('LANDING.PRICING_4.FEAT_2')}
                                p #{__('LANDING.PRICING_4.FEAT_2_DESC')}
                            li
                                h3
                                    i.fa.fa-check.text-warning
                                    strong #{__('LANDING.PRICING_4.FEAT_3')}
                                p #{__('LANDING.PRICING_4.FEAT_3_DESC')}
                        .buttons
                            a.btn.btn-primary.btn-lg(href='mailto:interpretame.contact@gmail.com') #{__('LANDING.PRICING.GO')}
                .col-md-8.pad0