section#portfolio.bg-light-gray.section
    .container
        .row
            .col-lg-12.text-center
                h2.section-heading #{__('LANDING.SERVICES.TITLE')}
                h3.section-subheading.text-muted #{__('LANDING.SERVICES.DESC')}
                br
        .row
            .col-md-3.portfolio-item
                a.portfolio-link
                    img.img-responsive(src='http://www.fabioconcato.it/fabioconcato/templates/protostar/img/yt.png', alt='')
                .portfolio-caption
                    h4 #{__('LANDING.SERVICES.7.TITLE')}
                    p.text-muted #{__('LANDING.SERVICES.7.DESC')}
            .col-md-3.portfolio-item
                a.portfolio-link
                    img.img-responsive(src='https://www.shareicon.net/data/512x512/2015/12/25/693032_record_512x512.png', alt='')
                .portfolio-caption
                    h4 #{__('LANDING.SERVICES.8.TITLE')}
                    p.text-muted #{__('LANDING.SERVICES.8.DESC')}
            .col-md-3.portfolio-item
                a.portfolio-link
                    img.img-responsive(src='http://www.freeiconspng.com/uploads/share-icon-28.jpeg', alt='')
                .portfolio-caption
                    h4 #{__('LANDING.SERVICES.3.TITLE')}
                    p.text-muted #{__('LANDING.SERVICES.3.DESC')}
            .col-md-3.portfolio-item
                a.portfolio-link
                    img.img-responsive(src='https://cdn1.iconfinder.com/data/icons/education-39/100/05-512.png', alt='')
                .portfolio-caption
                    h4 #{__('LANDING.SERVICES.4.TITLE')}
                    p.text-muted #{__('LANDING.SERVICES.4.DESC')}
        .row
            .col-md-3.portfolio-item
                a.portfolio-link
                    img.img-responsive(src='https://cdn2.iconfinder.com/data/icons/pixel-perfect-at-24px-volume-7/24/2190-512.png', alt='')
                .portfolio-caption
                    h4 #{__('LANDING.SERVICES.5.TITLE')}
                    p.text-muted #{__('LANDING.SERVICES.5.DESC')}
            .col-md-3.portfolio-item 
                a.portfolio-link
                    img.img-responsive(src='https://d30y9cdsu7xlg0.cloudfront.net/png/124613-200.png', alt='')
                .portfolio-caption
                    h4 #{__('LANDING.SERVICES.6.TITLE')}
                    p.text-muted #{__('LANDING.SERVICES.6.DESC')}
            .col-md-3.portfolio-item
                a.portfolio-link
                    img.img-responsive(src='http://www.freeiconspng.com/uploads/thought-icon-12.png', alt='')
                .portfolio-caption
                    h4 #{__('LANDING.SERVICES.1.TITLE')}
                    p.text-muted #{__('LANDING.SERVICES.1.DESC')}
            .col-md-3.portfolio-item
                a.portfolio-link
                    img.img-responsive(src='https://d30y9cdsu7xlg0.cloudfront.net/png/19375-200.png', alt='')
                .portfolio-caption
                    h4 #{__('LANDING.SERVICES.2.TITLE')}
                    p.text-muted #{__('LANDING.SERVICES.2.DESC')}
