section#team.section.team-section
    .container.text-center
        h2.section-title.opacity #{__('LANDING.TEAM.TITLE')}
        .members-container.row
            .item.col-md-6
                .team-member
                    img.img-responsive.img-circle(src='//media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAALEAAAAJDA0MDJlZTllLTkxODItNDlkYi1hZWNiLWJiZDhlNDA1ZGI0Mg.jpg', alt='')
                    h4 Alba Collado
                    p.text-muted  #{__('LANDING.TEAM_1.TITLE')}
                    p.text-muted #{__('LANDING.TEAM_1.DESC')}
                    p.text-muted.desc #{__('LANDING.TEAM_1.SLOGAN')}
                    ul.list-inline.social-buttons
                        li
                            a(href='https://www.linkedin.com/in/alba-collado-cascales-775bbb67/')
                                i.fa.fa-linkedin
                        li
                            a(href='https://twitter.com/interpretamecom')
                                i.fa.fa-twitter
            .item.col-md-6
                .team-member
                    img.img-responsive.img-circle(src='//media.licdn.com/media/AAEAAQAAAAAAAAcbAAAAJGI2ZWNjMmEwLTY5MDEtNGY4ZS04MGY3LTNjYzUwNTIzMjZhYQ.jpg', alt='')
                    h4 Marco A. Pajares
                    p.text-muted  #{__('LANDING.TEAM_2.TITLE')}
                    p.text-muted #{__('LANDING.TEAM_2.DESC')}
                    p.text-muted.desc #{__('LANDING.TEAM_2.SLOGAN')}
                    ul.list-inline.social-buttons
                        li
                            a(href='https://github.com/ayxos')
                                i.fa.fa-github
                        li
                            a(href='https://www.linkedin.com/in/marco-antonio-pajares-0524573a/')
                                i.fa.fa-linkedin
                        li
                            a(href='https://twitter.com/ayxos')
                                i.fa.fa-twitter