section#timeline.section.timeline-section.bg-gradient
    .container
        h2.section-title.text-center.opacity #{__('LANDING.STORY.TITLE')}
        .timeline-container
            .timeline-item.clearfix.opacity
                .timeline-icon
                    i.fa.fa-flask.icon
                .timeline-content.right
                    .time #{__('LANDING.STORY_1.DATE')}
                    h4.title #{__('LANDING.STORY_1.TITLE')}
                    .desc #{__('LANDING.STORY_1.DESC')}
            .timeline-item.clearfix.opacity
                .timeline-icon
                    i.fa.fa-flask.icon
                .timeline-content
                    .time #{__('LANDING.STORY_2.DATE')}
                    h4.title #{__('LANDING.STORY_2.TITLE')}
                    .desc #{__('LANDING.STORY_2.DESC')}
            .timeline-item.clearfix.opacity
                .timeline-icon
                    i.fa.fa-hourglass-end.icon
                .timeline-content.right
                    .time #{__('LANDING.STORY_3.DATE')}
                    h4.title #{__('LANDING.STORY_3.TITLE')}
                    .desc #{__('LANDING.STORY_3.DESC')}
            .timeline-item.clearfix.opacity
                .timeline-icon
                    i.fa.fa-bullseye.icon
                .timeline-content
                    .time #{__('LANDING.STORY_4.DATE')}
                    h4.title #{__('LANDING.STORY_4.TITLE')}
                    .desc #{__('LANDING.STORY_4.DESC')}
            .timeline-item.clearfix.opacity
                .timeline-icon
                    i.fa.fa-bullseye.icon
                .timeline-content.right
                    .time #{__('LANDING.STORY_5.DATE')}
                    h4.title #{__('LANDING.STORY_5.TITLE')}
                    .desc #{__('LANDING.STORY_5.DESC')}
            .timeline-item.clearfix.opacity
                .timeline-icon
                    i.fa.fa-bullseye.icon
                .timeline-content
                    .time #{__('LANDING.STORY_6.DATE')}
                    h4.title #{__('LANDING.STORY_6.TITLE')}
                    .desc #{__('LANDING.STORY_6.DESC')}
            .timeline-item.clearfix.opacity
                .timeline-icon
                    i.fa.fa-users.icon
                .timeline-content.right
                    .time #{__('LANDING.STORY_7.DATE')}
                    h4.title #{__('LANDING.STORY_7.TITLE')}
                    .desc #{__('LANDING.STORY_7.DESC')}
            .timeline-item.clearfix.opacity
                .timeline-icon
                    i.fa.fa-users.icon
                .timeline-content
                    .time #{__('LANDING.STORY_8.DATE')}
                    h4.title #{__('LANDING.STORY_8.TITLE')}
                    .desc #{__('LANDING.STORY_8.DESC')}
            .timeline-item.clearfix.opacity
                .timeline-icon
                    i.fa.fa-bullseye.icon
                .timeline-content.right
                    .time #{__('LANDING.STORY_9.DATE')}
                    h4.title #{__('LANDING.STORY_9.TITLE')}
                    .desc #{__('LANDING.STORY_9.DESC')}
            .timeline-item.clearfix.opacity
                .timeline-icon
                    i.fa.fa-users.icon
                .timeline-content
                    .time #{__('LANDING.STORY_10.DATE')}
                    h4.title #{__('LANDING.STORY_10.TITLE')}
                    .desc 
                        | #{__('LANDING.STORY_10.DESC')}
                        br
                        a(href='https://www.interpretame.com/wiki/es/webinar.html' target='_blank') #{__('LANDING.MORE')}
            .timeline-item.clearfix.opacity
                .timeline-icon
                    i.fa.fa-bullseye.icon
                .timeline-content.right
                    .time #{__('LANDING.STORY_11.DATE')}
                    h4.title #{__('LANDING.STORY_11.TITLE')}
                    .desc 
                        | #{__('LANDING.STORY_11.DESC')}
                        br
                        a(href='https://www.youtube.com/watch?v=wVS8uu51ji8&t' target='_blank') #{__('LANDING.MORE')}
            .timeline-item.clearfix.opacity
                .timeline-icon
                    i.fa.fa-users.icon
                .timeline-content
                    .time #{__('LANDING.STORY_12.DATE')}
                    h4.title #{__('LANDING.STORY_12.TITLE')}
                    .desc 
                        | #{__('LANDING.STORY_11.DESC')}
                        br
                        a(href='https://forums.interpretame.com/topic/56/gamificar-el-entrenamiento-del-int%C3%A9rprete-nuestra-propuesta-en-el-congreso-liletrad/2' target='_blank') #{__('LANDING.MORE')}
            .timeline-item.opacity
            .timeline-icon.complete
                i.fa.fa-check.icon