extends ./layout.pug
block wrapper
  .main
    .header
      h1
        strong #{community}
      a.button(href='https://interpretame.slack.com/')
        h2(style='color: coral; font-size: 28px;font-weight: 500') #{__('SLACK.JOIN')}
    .content
      .information
        h2 #{__('SLACK.HEADER', community)}
        form(method="POST", action="/slack/invite")#join-form.form
          input(type="email", name="email", autofocus, placeholder="#{__('SLACK.ENTER_EMAIL')}")#slack-email.field
          input(type="submit", value="Join").submit
block scripts
  script.
    var tokenRequired = #{tokenRequired};
    var form = document.getElementById('join-form');
    var email = document.getElementById('slack-email');
    var token = document.getElementById('slack-token');
    form.addEventListener('submit', function(evt) {
      if (!email.value) {
        evt.preventDefault();
      }
      if (tokenRequired && !token.value) {
        evt.preventDefault();
      }
    });
